# Compiled files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak
.virtual_documents/

# Ingore executable cpp files
Claude_optimized
GPT_optimized
Qwen_optimized

# Ignore Chroma vector database
vector_db/

# Ingore knowledge-base
knowledge-base/

# Ignore pickle files
*.pkl
